#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*

[Rr]elease/*.lib
[Rr]elease/*.exp
*.opensdf
*.sdf
*.tlog
*.manifest
*.embed.manifest.res
*.lastbuildstate
ipch/

Release/Client.exp
Release/Client.lib
Release/MapEditor.exp
Release/MapEditor.lib
Release/Server.exp
Release/Server.lib